{%  extends 'base.html.twig' %}
{% block body %}
    
    <form action="validarLogin" method="post">
        <p><label>Nombre de Usuario</label>
        <input type="text" id="nombre" name="nombre" placeholder="example@gmail.com" required></p>
        <p>
        <label>Contraseña</label>
        <input type="password" id="password" name="password" required></p>

        <input type="submit" value="Iniciar Sesion">
    </form>

{% endblock %}