{%  extends 'base.html.twig' %}
{% block body %}
    
    <form action="validarLogin" method="post">
        <label>Nombre de Usuario</label>
        <input type="text" id="nombre" name="nombre">
        <label>Contraseña</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Iniciar Sesion">
    </form>

{% endblock %}